{% extends 'base.html' %}

{% block content %}
<h3>Update Your Profile</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p }}

    {% if form.instance.image %}
        <img src="{{ form.instance.image.url }}" alt="Profile Image" width="100" height="100">
    {% endif %}

    <button type="submit">Save Changes</button>
</form>

<p>
    <a href="{% url 'password_reset' %}">Reset Password</a>
</p>

<a href="{% url 'delete_account' %}" style="color: red; text-decoration: none;">Delete Account</a>
{% endblock %}
